<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="tests" thread-count="2">
    <test name="127.0.0.1:62025">
        <classes>
            <parameters>
                <parameter name="udid" value="127.0.0.1:62025"/>
                <parameter name="port" value="3335"/>
            </parameters>
            <class name="TestCase.CreatTigerWallet"/>
        </classes>
    </test>
    <test name="127.0.0.1:62001">
        <classes>
            <parameters>
                <parameter name="udid" value="127.0.0.1:62001"/>
                <parameter name="port" value="3336"/>
            </parameters>
            <class name="TestCase.CreatTigerWallet"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="AppTool.ResultListener.TestngListener"/>
        <listener class-name="AppTool.ResultListener.RetryListener"/>
        <listener class-name="AppTool.ResultListener.TestReport"/>
    </listeners>
</suite>
